@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    margin: 0;
}

.container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/img_main.jpeg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 75%, 0 80%);
    z-index: -1;
}


/* Nav */

/* .nav {
    --padding-container: 0;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 50px;
} */

.nav {
    --padding-container: 0;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    opacity: 0.96;
    position: fixed;
    z-index: 1000;
}

.nav__title {
    font-weight: 20px;
    font-size:3.5vh;
    color: rgba(79,129,189,255);
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em; 
}

.nav__links:hover {
    background-color: #303231;
    border-radius: 10px;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: rgba(79,129,189,255);
    text-decoration:none;
    font-style:italic;
    font-size: 1.8vh;
    padding: 20px;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 90vw;
    min-width: 20vw;
    height: 500px;
    --padding-container: 0;
    display: grid;
    justify-content: center;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding: 0;
    text-align: center;
    top: 5.5vh; /* Alinea el contenedor con la parte superior de la página */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 10px;
    font-size: 1.3rem;
    height: 100px;
    
}

.cta {
    display: inline-block;
    background-color: #25D366;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;
    text-align: justify;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 0 5px 5px rgba(0, 3, 43, 0.2);
}

.about__icon {
    width: 40px;
    padding: 40px;
}

/* coverage */
.slider {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
    width: 80%;
    position: relative;
}

.slider::before, .slider::after {
    position: absolute;
    top: 0;
    width: 23.958%;
    height: 100%;
    content: "";
    z-index: 1;
    pointer-events: none;
}

.slider::before {
    left: 0;
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0));
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, #ffffff 10%, rgba(255, 255, 255, 0));
}

.slider-track {
    display: flex;
    width: calc(180px * 14);
    animation: scroll 15s linear infinite;
    white-space: nowrap;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.slide img {
    width: 70px;
    height: 40px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    
}

.slider .slide h4{
    padding: 0px;
    margin: 0%;
    
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-180px * 7));
    }
}


/* Knowledge */

.knowledge {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 500px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
    text-align: justify;
}


.knowledge__img{
    width: 100%;
    display: block;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    overflow: hidden;
}

/* Testimony */

.testimony{
    background-color: #e5e5f7;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

/* Questions */

.questions{
    text-align: center;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 20px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 10px 0 10px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* share */

.share {
    position: fixed;
    bottom: 5px; 
    right: 5px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 1;      
}

.menu{
    position: relative;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .toggle{
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: 0 25px 15px rgba(0,0,0,0.25),
    0 25px 20px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3em;
    color: rgb(3, 163, 226);
    z-index: 10000;
}

.menu .toggle ion-icon{
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}

.menu .toggle ion-icon:nth-child(1){
    opacity: 1;
    transform: rotate(360deg);
}

.menu.active .toggle ion-icon:nth-child(1){
    opacity: 0;
    transform: rotate(0deg);
}

.menu.active .toggle ion-icon:nth-child(2){
    opacity: 1;
    transform: rotate(360deg);
}

.menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 110px;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--i));
    transform: rotate(calc(360deg /5 * var(--i)));
    scale: 0;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
}

.menu li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 20px;
    height: 100%;
    background: #fff;
    z-index: 10;
    transform: skewX(325deg) translateX(0);
    box-shadow: -5px 0 0 #fff5;
    transition: 0.5s;
}

.menu li:hover::before{
    transform: skewX(325deg) translateX(180px);
    box-shadow: -50px 0 0 #fff5;

}


.menu.active li{
    scale: 1;
}

.menu li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: var(--clr);
    color: #fff;
    font-size: 2.25em;
    border-radius: 50%;
    transform: rotate(calc(360deg / -5 * var(--i)));
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
}


/* Footer */

.footer{
    background-color: #1D293F;
    
}

.footer__title{
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 30px;
    padding: 0;
    margin: 0;
}

.footer__title, .footer__newsletter{
    color: #ffffff;
    padding-bottom: 5px;
}


.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #a23131;
    padding-bottom: 5px;
    padding: 20px;
}

.footer__container.container{
    text-align: center;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

/* Media queries */

@media (max-width:800px){
    
    
    .nav__menu{
        display: block;
        padding-right: 4%;
        
    }

    .nav__link--menu{
        position: fixed;
        background-color: #1D293F;
        top: 0;
        left: 20vw;
        height: 40%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
        border-left: 8px solid rgb(255, 255, 255);
    }


    .nav__link--show{
        display: flex;
        --show: block;
        opacity:1 ;
        pointer-events: unset;
        border-radius: 10px;
        
    }

    .nav__close{
        position: absolute;
        top: 3px;
        right: 3px;
        width: 35px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
    }


    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }


    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}

@media (max-width:600px){


    .hero {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 600px;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
        
    }

    .hero__title{
        font-size: 1.5rem;
        margin: 10px;
    }

    .hero__paragraph{
        font-size: 1rem;
        margin: 10px;
    }

    .subtitle{
        font-size: 1.8rem;
    }


    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: center;
        margin-bottom: 10px;
    }

    .nav--footer{
        padding-bottom: 10px;
    }

    .nav__link--footer{
        justify-content: center;
    }

    .footer__inputs{
        flex-wrap: wrap;
    } 

        /* 
        margin:0;
        width: 100%;
        */
    

    .menu .toggle{
        width: 50px;
        height: 50px;
    }
    .menu li a{
        width: 50px;
        height: 50px;
    }

    .menu.active li{
        scale: 1;
        
    }
    .menu{
        width: 140px;
        height: 140px; 
    }

    .menu li {
        transform-origin: 70px;
    }

}
